.burger {
  position: relative;
  background-color: rgba(84, 106, 123, 0);
  border: none;
  width: 20px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.line {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 3px;
  border-radius: 5px;
}

.line1 {
  top: 5px;
}

.line2 {
  top: 13.5px;
}

.line3 {
  bottom: 5px;
}

.burger.active .line1 {
  animation: line1 0.35s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

.burger.active .line2 {
  animation: twist 0.35s cubic-bezier(0.1, 1.51, 0.89, 0.88) forwards;
}

.burger.active .line3 {
  animation: line3 0.35s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

.burger.origin .line1 {
  animation: line1Back 0.5s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

.burger.origin .line2 {
  animation: twistBack 0.35s cubic-bezier(0.1, 1.51, 1, 1) forwards;
}

.burger.origin .line3 {
  animation: line3Back 0.5s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

@keyframes twist {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(45deg);
  }

  50% {
    transform: rotateZ(90deg);
  }

  100% {
    transform: rotateZ(135deg);
  }
}

@keyframes line1 {
  0% {
    top: 5px;
    transform: rotateZ(0deg);
  }

  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }

  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }

  100% {
    top: 13.5px;
    transform: rotateZ(45deg);
  }
}

@keyframes line3 {
  0% {
    bottom: 5px;
  }

  50% {
    bottom: 13.5px;
  }

  50% {
    bottom: 13.5px;
    transform: rotateZ(0deg);
  }

  100% {
    bottom: 13.5px;
    transform: rotateZ(45deg);
  }
}

@keyframes twistBack {
  0% {
    transform: rotateZ(135deg);
  }

  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes line1Back {
  0% {
    top: 13.5px;
    transform: rotateZ(45deg);
  }

  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }

  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }

  100% {
    top: 5px;
    transform: rotateZ(0deg);
  }
}

@keyframes line3Back {
  0% {
    bottom: 13.5px;
    transform: rotateZ(-45deg);
  }

  50% {
    bottom: 13.5px;
    transform: rotateZ(0deg);
  }

  50% {
    bottom: 13.5px;
  }

  100% {
    bottom: 5px;
  }
}
