.main-header {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: map-get($colors, main);
  font-family: map-get($fonts, secondary);
  font-size: 1.4rem;
  padding: 1.4rem 0;
  z-index: 100;

  nav {
    @include display-flex;
    @include flex-column;
    width: map-get($width, mobile);
    padding: 2rem 4rem;
    @include atMedium {
      @include row-reverse;
      @include justify-space-between;
      padding: 0;
    }
    @include atLarge {
      width: map-get($width, desktop);
    }
  }

  a {
    color: map-get($colors, secondary);
    width: 100%;
    height: 100%;
  }

  li {
    padding: 2rem 2rem 2rem 0;
  }

  @include translateX(100%);
  transition: transform 0.1s ease-in;

  @include atMedium {
    @include display-flex;
    @include justify-center;
    @include align-center;
    position: sticky;
    top: 0;
    height: 50px;
    @include translateX(0%);

    .main-nav__items {
      @include display-flex;
    }

    .nav-line {
      display: none;
    }
  }
}

.open-nav {
  @include translateX(0%);
}

.center-icon {
  @include display-flex;
  @include align-center;

  .icon {
    height: 1.4rem;
    padding-right: 1rem;
  }

  img {
    height: 100%;
  }
}

.login {
  position: relative;
  height: 100%;
  margin: auto 0;
  button {
    color: map-get($colors, secondary);
    font-family: map-get($fonts, secondary);
    background: none;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    @extend .center-icon;
  }
}

.home {
  @extend .center-icon;
}

.nav-line {
  background-color: map-get($colors, secondary);
  height: 1px;
  width: 100%;
  margin: 2rem 0 2rem 0;
}
