.main-section {
  color: map-get($colors, main);
  font-family: map-get($fonts, main);
  width: map-get($width, mobile);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: auto;
}
// MAIN CONTENT GENERAL STYLES

.main-section-container {
  display: flex;
  justify-content: center;
  width: map-get($width, desktop);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    width: 100%;
    font-size: 3.2rem;
    margin: 5rem 0 2rem 0;
    text-align: center;
  }

  @include atLarge {
    width: 100%;
    h1 {
      margin-top: 0;
      text-align: start;
    }
  }
}
