.main-header {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  height: 100vh;
  font-family: map-get($fonts, secondary);
  font-size: 1.4rem;
  background-color: map-get($colors, main);
  padding: 1.4rem 0;
  z-index: 100;

  nav {
    @include display-flex();
    width: map-get($width, mobile);
    flex-direction: column;
    padding: 2rem 4rem;
    @include atMedium {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0;
    }
    @include atLarge {
      width: map-get($width, desktop);
    }
  }

  a {
    color: map-get($colors, secondary);
    width: 100%;
    height: 100%;
  }

  li {
    padding: 2rem 2rem 2rem 0;
  }

  transform: translateX(100%);
  transition: transform 0.1s ease-in;

  @include atMedium {
    position: relative;
    top: 0;
    height: 5rem;
    @include display-flex();
    justify-content: center;
    align-items: center;
    transform: translateX(0%);

    .main-nav__items {
      @include display-flex();
    }

    .nav-line {
      display: none;
    }
  }
}

.open-nav {
  transform: translateX(0%);
}

.center-icon {
  @include display-flex();
  align-items: center;

  .icon {
    height: 1.4rem;
    padding-right: 1rem;
  }

  img {
    height: 100%;
  }
}

.login {
  position: relative;
  height: 100%;
  margin: auto 0;
  button {
    color: map-get($colors, secondary);
    background: none;
    font-family: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
    @extend .center-icon;
  }
}

.home {
  @extend .center-icon;
}

.nav-line {
  height: 1px;
  width: 100%;
  background-color: map-get($colors, secondary);
  margin: 2rem 0 2rem 0;
}
