.main-section {
  @include display-flex;
  @include justify-center;
  color: map-get($colors, main);
  font-family: map-get($fonts, main);
  padding-top: 5rem;
  width: auto;
  @include atMedium {
    padding-top: 5rem;
  }
}
// MAIN CONTENT GENERAL STYLES

.main-section-container {
  @include display-flex;
  @include flex-column;
  @include justify-space-between;
  width: map-get($width, mobile);
  @include atLarge {
    width: map-get($width, desktop);
    flex-direction: row;
  }
}

.content-container {
  @include display-flex;
  @include flex-column;
  @include justify-center;
  @include align-center;
  @include flex-basis(100%);
  h1 {
    width: 100%;
    font-size: 3.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  @include filterAtLarge {
    width: 100%;
    h1 {
      text-align: start;
    }
  }
}
