.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: opacity 500ms linear;
  -o-transition: opacity 500ms linear;
  transition: opacity 500ms linear;

  @include atMedium {
    opacity: 0 !important;
  }
}

.modal {
  // DISPLAY: FLEX ADDED VIA JS
  @include flex-column;
  @include align-center;
  @include justify-space-between;
  @include translate(50%, -50%);
  background-color: map-get($colors, secondary);
  display: none;
  position: fixed;
  opacity: 0;
  width: 70%;
  height: 300px;
  top: 50%;
  right: 50%;
  z-index: 150;
  border: 1px solid map-get($colors, main);
  padding: 2rem;
  padding-bottom: 3rem;
  font-size: 1.4rem;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s linear, -webkit-transform 0.3s ease-in;
  -o-transition: opacity 0.3s linear, transform 0.3s ease-in;
  transition: opacity 0.3s linear, transform 0.3s ease-in;
  transition: opacity 0.3s linear, transform 0.3s ease-in,
    -webkit-transform 0.3s ease-in;

  input {
    font-family: map-get($fonts, main);
    border: 1px solid map-get($colors, main);
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
  }

  button {
    width: 100%;
  }
  div {
    @include display-flex;
    @include flex-column;
    @include justify-space-between;
    @include align-center;
    span {
      color: map-get($colors, main);
      font-family: map-get($fonts, sans);
      padding-bottom: 1rem;
    }

    a {
      font-family: map-get($fonts, main);
      font-weight: bold;
    }
  }

  @include atMedium {
    @include translate(20px, calc(-100% - 5rem));
    width: 250px;
    top: 4.5rem;
    right: calc((100vw - map-get($width, desktop)) / 2);
  }
}

.open-modal {
  @include display-flex;
  opacity: 1;
  @include atMedium {
    @include translate(20px, 0);
  }
}
