.products {
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding-bottom: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1rem;
  border-bottom: 2px solid #707070;
}

.product-container {
  position: relative;
  width: 240px;
  height: 350px;
  @include display-flex();
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: border 0.3s linear;

  &:hover {
    border: 1px solid black;
  }
}

.badge-container {
  position: absolute;
  @include display-flex();
  flex-direction: column;
  justify-content: flex-start;
  top: 1rem;
  left: -0.5rem;
  width: 8rem;
  height: 8rem;
}

@mixin badge {
  font-size: 1.4rem;
  text-align: center;
  color: map-get($colors, secondary);
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.sleva {
  @include badge();
  background-color: #305858;
  width: 80%;
}

.top {
  @include badge();
  width: 60%;
  background-color: #c97141;
}

.novinka {
  @include badge();
  background-color: #c19731;
}

.product-image {
  margin-top: 2rem;
  img {
    width: 100%;
  }
}

.product-name {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}

.product-line {
  position: absolute;
  bottom: 45px;
  width: 220px;
  height: 1px;
  background-color: #000;
  margin: 2rem auto;
}

.product-cta {
  @include display-flex();
  justify-content: space-between;
  align-items: center;
  width: 100%;
  span {
    font-size: 2.2rem;
    font-weight: bold;
    color: map-get($colors, price);
  }
}

.page-select {
  @include display-flex();
  align-self: flex-end;

  ol {
    @include display-flex();
    li {
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 1.4rem;
      padding: 1px;
      margin: 2px;
      border: 1px solid rgba(0, 0, 0, 0);
      &:hover,
      &:active {
        border: 1px solid black;
      }
    }
    .active {
      border: 1px solid black;
    }
  }

  button {
    font-family: map-get($fonts, main);
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
  }
}
