.filter-container {
  padding: 0 3rem 3rem 3rem;
  border: 1px solid black;
  background-color: map-get($colors, light);
  width: 100%;
  h2 {
    text-align: center;
    padding-bottom: 1rem;
  }
  @include filterAtLarge {
    width: 100%;
  }
}

.filter-menu__items {
  @include display-flex();
  flex-direction: column;
  justify-content: center;
  @include filterAtLarge {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.filter-menu__item {
  padding-top: 3rem;
  position: relative;
}

// BRAND SELECTOR
.brand-select {
  label {
    text-align: center;
  }

  select {
    color: map-get($colors, primary);
    background-color: map-get($colors, secondary);
    border: 1px solid map-get($colors, primary);
    text-align: center;
    width: 100%;
    height: 5rem;
    padding: 1rem 0;
  }

  @include filterAtLarge {
    flex-basis: 20%;
  }
}

// END BRAND SELECTOR
// PRICE RANGE INPUT

.slider {
  .range-slider-box {
    @include display-flex;
    flex-wrap: wrap;
    justify-content: center;
    @include filterAtLarge {
      justify-content: flex-end;
      flex-wrap: nowrap;
    }
  }

  .range-slider-values {
    @include display-flex();
    flex-direction: column;
    align-items: center;

    @include filterAtLarge {
      justify-content: space-evenly;
    }
  }

  label {
    @include display-flex();
    margin-bottom: 1rem;
    justify-content: center;

    span {
      height: 5rem;
      line-height: 5rem;
      font-weight: bold;
      font-size: 1.6rem;
      padding: 0 1rem;
      @include filterAtLarge {
        padding: auto;
      }
    }

    input {
      text-align: center;
      font-size: 1.6rem;
      padding: 0.5rem;
      height: 5rem;
      &:disabled {
        color: black;
        background-color: white;
        border: 1px solid map-get($colors, main);
      }
      @include filterAtLarge {
        width: 100px;
      }
    }
  }

  .min-value {
    @include filterAtLarge {
      order: 1;
    }
  }

  .max-value {
    @include filterAtLarge {
      order: 3;
    }
  }

  .range-slider {
    position: relative;
    width: 100%;
    @include filterAtLarge {
      transform: translateY(-10%);
      order: 2;
    }

    input[type='range'] {
      -webkit-appearance: none;
      width: 100%;
      position: relative;
      height: 1px;
      left: 0;
      top: 2.5rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      &:nth-of-type(2) {
        top: 1.3rem !important;

        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 25px;
          top: 0;
          left: 0;
          background-color: #000;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 25px;
          top: 0;
          right: 0;
          background-color: #000;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        background: black;
        border: none;
      }

      &::-moz-range-track {
        width: 100%;
        height: 1px;
        background: black;
        border: none;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: #000;
        cursor: pointer;
        position: relative;
        z-index: 1;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &::-moz-range-thumb {
        -webkit-appearance: none;
        border: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: #000;
        cursor: pointer;
        position: relative;
        z-index: 1;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateX(-50%);
      }
      &:focus {
        outline: none;
      }
      &:focus::-webkit-slider-runnable-track {
        background: #000;
      }
    }
  }

  @include filterAtLarge {
    flex-basis: 75%;
  }
}

// END RANGE SLIDER
// SIZE PICKER

.size-picker {
  fieldset {
    margin-top: 1rem;
    border: none;
    @include display-flex();
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 82rem) {
      justify-content: flex-start;
    }

    legend {
      width: 100%;
      text-align: center;
      @include filterAtLarge {
        h2 {
          text-align: start;
        }
      }
    }

    .size-picker__item {
      margin: 1rem 2rem 0 0;
      position: relative;

      .size-picker__label {
        font-weight: bold;
        position: relative;
        padding-left: 23px;
        cursor: pointer;
        font-size: 1.6rem;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark::after {
          opacity: 1;
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 19px;
        width: 19px;
        background-color: #fff;
        border: 1px solid #000;

        &::after {
          content: url(images/icons/check.svg);
          opacity: 0;
          transition: all 0.2s linear;
        }
      }
    }
  }
}
// END SIZE PICKER

// FORM BUTTON

#filter-btn {
  width: 100%;
  @include filterAtLarge {
    width: 12.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
