.search-nav {
  @include display-flex;
  font-family: map-get($fonts, secondary);
  background-color: map-get($colors, secondary);
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 2rem;
  box-shadow: 0px 5px 15px rgba(10, 10, 10, 0.1);
  font-size: 1.6rem;
  z-index: 100;
  @include atMedium {
    top: 50px;
  }
}

.search-nav__items {
  height: 5rem;
  @include display-flex();
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: map-get($width, mobile);
  @include atLarge {
    width: map-get($width, desktop);
  }
}
.search-nav__item {
  height: 100%;
}

.search-bar {
  display: none;
  position: relative;
  height: 100%;

  input {
    background-color: map-get($colors, light);
    background: transparent url('images/icons/clue.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 3rem;
    background-position: 98%;
    height: 4.5rem;
    width: 25vw;
    border: 1px solid #000;
    padding: 2rem;
    font-size: 2rem;
  }
  @include atMedium {
    @include display-flex;
    align-items: center;
  }
}

#logo {
  @include display-flex;
  @media (max-width: 330px) {
    @include display-flex;
    width: 80px;
    img {
      width: 100%;
    }
  }
}

.search-icon {
  display: flex;
  justify-self: flex-start;
  img {
    @include atMedium {
    }
  }
}

.search-clue {
  div {
    @include display-flex();
    align-items: center;
  }
  @include atMedium {
    display: none;
  }
}

@mixin icon-count-badge {
  position: absolute;
  left: 25px;
  top: -5px;
  @content;
}

.compare {
  div {
    @include display-flex();
    align-items: center;
    height: 50px;
  }

  position: relative;
  &::before {
    content: '5' / '';
    @include icon-count-badge;
  }
  span {
    display: none;
    margin-left: 10px;
    @include atMedium {
      display: inline;
    }
  }
}

.cart {
  div {
    @include display-flex();
    align-items: center;
    height: 50px;
  }

  position: relative;
  &::before {
    content: '3' / '';
    @include icon-count-badge;
  }
  span {
    display: none;
    margin-left: 10px;
    @include atMedium {
      display: inline;
    }
  }
}

.search-nav__burger {
  @include display-flex;
  align-items: center;
  @include atMedium {
    display: none;
  }
}
