.side-nav {
  width: map-get($width, mobile);
  padding-bottom: 40px;
  @include atLarge {
    display: flex;
    align-items: flex-start;
    flex-basis: 220px;
    position: relative;
    width: 20rem;
    background: none;
    top: 0;
    transform: translateX(0);
  }
}
.toggle-categories {
  text-align: center;
  height: 50px;
  button {
    background: none;
    border: none;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    font-family: map-get($fonts, main);
    color: map-get($colors, main);
    &::after {
      content: '▸';
      display: inline-block;
      font-size: 2.5rem;
    }
  }
  padding-bottom: 20px;
  @include atLarge {
    display: none;
  }
}

.rotate-arrow {
  &::after {
    content: '▸';
    display: inline-block;
    transform: rotateZ(90deg);
  }
}

.side-nav__items {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in;
  @include atLarge {
    display: block;
    height: 100%;
  }
  font-size: 1.8rem;

  li {
    padding-bottom: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    &::before {
      content: '▸ ';
    }
  }
}

.show-categories {
  height: 100%;
}
