@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  color: #000;
}

input,
select {
  border-radius: 0%;
}

.toggle-overflow {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.page-container {
  padding-bottom: 10rem;
}

.primary-btn {
  cursor: pointer;
  width: 10rem;
  height: 4.5rem;
  color: #fff;
  background-color: #000;
  border: none;
}
.primary-btn:hover {
  transform: scale(102%);
}
.primary-btn:active {
  transform: scale(100%);
}

.jump-up {
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: 99;
}
@media (min-width: 50rem) {
  .jump-up {
    font-size: 5rem;
  }
}
@media (min-width: 60rem) {
  .jump-up {
    display: none;
  }
}

.backdrop {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  transition: opacity 500ms linear;
}
@media (min-width: 920px) {
  .backdrop {
    opacity: 0 !important;
  }
}

.modal {
  display: none;
  opacity: 0;
  position: fixed;
  width: 70%;
  height: 300px;
  background-color: #fff;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 150;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #262626;
  padding: 2rem;
  padding-bottom: 3rem;
  font-size: 1.4rem;
  transition: opacity 0.3s linear, transform 0.3s ease-in;
}
.modal input {
  width: 100%;
  padding: 1rem;
  font-family: "Fira Sans", sans-serif;
  border: 1px solid #262626;
  font-size: 1.4rem;
}
.modal button {
  width: 100%;
}
.modal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space;
}
.modal div span {
  color: #262626;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem;
}
.modal div a {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}
@media (min-width: 920px) {
  .modal {
    width: 250px;
    top: 4.5rem;
    right: 15vw;
    transform: translate(20px, calc(-100% - 5rem));
  }
}

.open-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  opacity: 1;
}
@media (min-width: 920px) {
  .open-modal {
    transform: translate(20px, 0);
  }
}

.mobile-header {
  position: fixed;
  width: 100%;
  height: 7rem;
  box-shadow: 0px 5px 15px rgba(10, 10, 10, 0.1);
  z-index: 100;
  background-color: #fff;
}
@media (min-width: 920px) {
  .mobile-header {
    display: none;
  }
}

.mob-header-items {
  height: 100%;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mob-header-item {
  height: 3rem;
}
.mob-header-item img {
  height: 100%;
}

.mob-header__buttons {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: 2rem;
  justify-content: flex-end;
}

.mob-header__button {
  height: 2rem;
  margin: 0.5rem;
}

.burger {
  position: relative;
  background-color: rgba(84, 106, 123, 0);
  border: none;
  width: 20px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.line {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 3px;
  border-radius: 5px;
}

.line1 {
  top: 5px;
}

.line2 {
  top: 13.5px;
}

.line3 {
  bottom: 5px;
}

.burger.active .line1 {
  animation: line1 0.35s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

.burger.active .line2 {
  animation: twist 0.35s cubic-bezier(0.1, 1.51, 0.89, 0.88) forwards;
}

.burger.active .line3 {
  animation: line3 0.35s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

.burger.origin .line1 {
  animation: line1Back 0.5s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

.burger.origin .line2 {
  animation: twistBack 0.35s cubic-bezier(0.1, 1.51, 1, 1) forwards;
}

.burger.origin .line3 {
  animation: line3Back 0.5s cubic-bezier(0.42, 1.13, 1, 1) forwards;
}

@keyframes twist {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(45deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(135deg);
  }
}
@keyframes line1 {
  0% {
    top: 5px;
    transform: rotateZ(0deg);
  }
  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }
  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }
  100% {
    top: 13.5px;
    transform: rotateZ(45deg);
  }
}
@keyframes line3 {
  0% {
    bottom: 5px;
  }
  50% {
    bottom: 13.5px;
  }
  50% {
    bottom: 13.5px;
    transform: rotateZ(0deg);
  }
  100% {
    bottom: 13.5px;
    transform: rotateZ(45deg);
  }
}
@keyframes twistBack {
  0% {
    transform: rotateZ(135deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes line1Back {
  0% {
    top: 13.5px;
    transform: rotateZ(45deg);
  }
  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }
  50% {
    top: 13.5px;
    transform: rotateZ(0deg);
  }
  100% {
    top: 5px;
    transform: rotateZ(0deg);
  }
}
@keyframes line3Back {
  0% {
    bottom: 13.5px;
    transform: rotateZ(-45deg);
  }
  50% {
    bottom: 13.5px;
    transform: rotateZ(0deg);
  }
  50% {
    bottom: 13.5px;
  }
  100% {
    bottom: 5px;
  }
}
.main-header {
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  background-color: #262626;
  padding: 1.4rem 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.1s ease-in;
}
.main-header nav {
  padding: 2rem 4rem;
}
.main-header a {
  color: #fff;
  width: 100%;
  height: 100%;
}
.main-header li {
  padding: 2rem 2rem 2rem 0;
}
@media (min-width: 920px) {
  .main-header {
    position: relative;
    top: 0;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
  }
  .main-header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    width: 70vw;
  }
  .main-header .main-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .main-header .nav-line {
    display: none;
  }
}

.open-nav {
  transform: translateX(0%);
}

.center-icon, .home, .login button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.center-icon .icon, .home .icon, .login button .icon {
  height: 1.4rem;
  padding-right: 1rem;
}
.center-icon img, .home img, .login button img {
  height: 100%;
}

.login {
  position: relative;
  height: 100%;
  margin: auto 0;
}
.login button {
  color: #fff;
  background: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

.nav-line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 2rem 0 2rem 0;
}

.search-nav {
  display: none;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  box-shadow: 0px 5px 15px rgba(10, 10, 10, 0.1);
  font-size: 1.6rem;
}
@media (min-width: 920px) {
  .search-nav {
    display: block;
    width: 100%;
  }
}

.search-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  margin: auto;
}

.search-bar {
  position: relative;
  height: 100%;
}
.search-bar input {
  background-color: #fbfbfb;
  background: transparent url("images/icons/clue.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 3rem;
  background-position: 98%;
  height: 4.5rem;
  width: 25vw;
  border: 1px solid #000;
  padding: 2rem;
  font-size: 2rem;
}

.compare {
  position: relative;
}
.compare::before {
  content: "5";
  position: absolute;
  left: 25px;
  top: -15px;
}

.cart {
  position: relative;
}
.cart::before {
  content: "3";
  position: absolute;
  left: 25px;
  top: -15px;
}

.side-nav {
  width: 90vw;
  padding-bottom: 40px;
}
@media (min-width: 1008px) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    flex-basis: 300px;
    position: relative;
    width: 20rem;
    background: none;
    top: 0;
    transform: translateX(0);
  }
}

.toggle-categories {
  text-align: center;
  height: 50px;
  padding-bottom: 20px;
}
.toggle-categories button {
  background: none;
  border: none;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-family: "Fira Sans", sans-serif;
  color: #262626;
}
.toggle-categories button::after {
  content: "▸";
  display: inline-block;
  font-size: 2.5rem;
}
@media (min-width: 1008px) {
  .toggle-categories {
    display: none;
  }
}

.rotate-arrow::after {
  content: "▸";
  display: inline-block;
  transform: rotateZ(90deg);
}

.side-nav__items {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in;
  font-size: 1.8rem;
}
@media (min-width: 1008px) {
  .side-nav__items {
    display: block;
    height: 100%;
  }
}
.side-nav__items li {
  padding-bottom: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.side-nav__items li::before {
  content: "▸ ";
}

.show-categories {
  height: 100%;
}

.main-section {
  color: #262626;
  font-family: "Fira Sans", sans-serif;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  padding-top: 12rem;
  width: auto;
}
@media (min-width: 920px) {
  .main-section {
    padding-top: 5rem;
  }
}

.main-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
}
@media (min-width: 1008px) {
  .main-section-container {
    width: 70vw;
    flex-direction: row;
  }
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.content-container h1 {
  width: 100%;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 1300px) {
  .content-container {
    width: 100%;
  }
  .content-container h1 {
    text-align: start;
  }
}

.filter-container {
  padding: 0 3rem 3rem 3rem;
  border: 1px solid black;
  background-color: #fbfbfb;
  width: 100%;
}
.filter-container h2 {
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 1300px) {
  .filter-container {
    width: 100%;
  }
}

.filter-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1300px) {
  .filter-menu__items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.filter-menu__item {
  padding-top: 3rem;
  position: relative;
}

.brand-select label {
  text-align: center;
}
.brand-select select {
  color: #262626;
  background-color: #fff;
  border: 1px solid;
  text-align: center;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
}
@media (min-width: 1300px) {
  .brand-select {
    flex-basis: 20%;
  }
}

.slider .range-slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1300px) {
  .slider .range-slider-box {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}
.slider .range-slider-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1300px) {
  .slider .range-slider-values {
    justify-content: space-evenly;
  }
}
.slider label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}
.slider label span {
  height: 5rem;
  line-height: 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0 1rem;
}
@media (min-width: 1300px) {
  .slider label span {
    padding: auto;
  }
}
.slider label input {
  -moz-appearance: textfield;
  color: #262626;
  background-color: white;
  border: 1px solid #262626;
  -webkit-appearance: none;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem;
  height: 5rem;
}
.slider label input:disabled {
  -moz-appearance: textfield;
  color: #262626;
  background-color: white;
  border: 1px solid #262626;
}
.slider label input::-webkit-outer-spin-button, .slider label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (min-width: 1300px) {
  .slider label input {
    width: 100px;
  }
}
@media (min-width: 1300px) {
  .slider .min-value {
    order: 1;
  }
}
@media (min-width: 1300px) {
  .slider .max-value {
    order: 3;
  }
}
.slider .range-slider {
  position: relative;
  width: 100%;
}
@media (min-width: 1300px) {
  .slider .range-slider {
    transform: translateY(-10%);
    order: 2;
  }
}
.slider .range-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  position: relative;
  height: 1px;
  left: 0;
  top: 2.5rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider .range-slider input[type=range]:nth-of-type(2) {
  top: 1.3rem !important;
}
.slider .range-slider input[type=range]:nth-of-type(2)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 25px;
  top: 0;
  left: 0;
  background-color: #000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider .range-slider input[type=range]:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 25px;
  top: 0;
  right: 0;
  background-color: #000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider .range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: black;
  border: none;
}
.slider .range-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: black;
  border: none;
}
.slider .range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider .range-slider input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateX(-50%);
}
.slider .range-slider input[type=range]:focus {
  outline: none;
}
.slider .range-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}
@media (min-width: 1300px) {
  .slider {
    flex-basis: 75%;
  }
}

.size-picker fieldset {
  margin-top: 1rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 82rem) {
  .size-picker fieldset {
    justify-content: flex-start;
  }
}
.size-picker fieldset legend {
  width: 100%;
  text-align: center;
}
@media (min-width: 1300px) {
  .size-picker fieldset legend h2 {
    text-align: start;
  }
}
.size-picker fieldset .size-picker__item {
  margin: 1rem 2rem 0 0;
  position: relative;
}
.size-picker fieldset .size-picker__item .size-picker__label {
  font-weight: bold;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 1.6rem;
}
.size-picker fieldset .size-picker__item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.size-picker fieldset .size-picker__item input:checked ~ .checkmark::after {
  opacity: 1;
}
.size-picker fieldset .size-picker__item .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #fff;
  border: 1px solid #000;
}
.size-picker fieldset .size-picker__item .checkmark::after {
  content: url(images/icons/check.svg);
  opacity: 0;
  transition: all 0.2s linear;
}

#filter-btn {
  width: 100%;
}
@media (min-width: 1300px) {
  #filter-btn {
    width: 12.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.products {
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.product-container {
  position: relative;
  width: 240px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: border 0.3s linear;
}
.product-container:hover {
  border: 1px solid black;
}

.badge-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 1rem;
  left: -0.5rem;
  width: 8rem;
  height: 8rem;
}

.sleva {
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  background-color: #305858;
  width: 80%;
}

.top {
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  width: 60%;
  background-color: #c97141;
}

.novinka {
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  background-color: #c19731;
}

.product-image {
  margin-top: 2rem;
}
.product-image img {
  width: 100%;
}

.product-name {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}

.product-line {
  position: absolute;
  bottom: 45px;
  width: 220px;
  height: 1px;
  background-color: #000;
  margin: 2rem auto;
}

.product-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-cta span {
  font-size: 2.2rem;
  font-weight: bold;
  color: #ff0000;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background-color: #000;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.4rem;
  color: white;
}

.footer-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 1008px) {
  .footer-content {
    width: 70vw;
    justify-content: space-between;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
