@mixin atSmall {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 641px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1008px) {
    @content;
  }
}

@mixin filterFix {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
}

.toggle-overflow {
  overflow: hidden;
}

.page-container {
  padding-bottom: 10rem;
}

.jump-up {
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  @media (min-width: 50rem) {
    font-size: 5rem;
  }
  @media (min-width: 60rem) {
    display: none;
  }
  z-index: 99;
}
